{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}
{% block header__title %}Book index{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
{% if authorized %}
<a href="{{ path('book_new') }}" class="btn btn-block btn-outline-success books__new">Create new</a>
{% endif %}

<div class="books row">
    <!-- <div id="bookMosaic" class="card-columns"> -->
    {% for book in books %}
    <div class="books__item_wrap col-sm-6 col-md-4 col-lg-3">
        <div class="books__item card hoverable" id="{{book.id}}">
            {{img(book, {
            'class' : 'card-img-top zoom'
        })}}
            <div class="card-body text-center">
                <h5 class="card-title">{{ book.name }}</h5>
                <p class="card-text">{{ book.author }}</p>
                <p class="card-text"> <small class="text-muted">Last read
                        {{ book.lastRead ? book.lastRead|date('d.m.Y') : '' }}</small></p>
            </div>
            <div class="card-img-overlay text-center align-items-center books__control">
                <div class="btn-group">
                    {% if authorized %}
                    <a href="{{ path('book_edit', {'id': book.id}) }}" class="books__link btn btn-dark" title="Edit book"> <i
                            class="fas fa-edit"></i></a>
                    {% endif %}
                    {% if book.downloadable and book.file %}
                    <a href="{{ path('book_download', {'id': book.id}) }}" target="__blank" class="books__link btn btn-success" title="Download book"> <i
                            class="fas fa-file-download"></i> </a>
                    <a href="{{ path('book_view', {'id': book.id}) }}" target="__blank" class="books__link btn btn-info" title="View book"> <i
                            class="fas fa-eye"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div class="col-12 text-center">
        <i class="far fa-sad-tear empty"></i>
        <h3 colspan="7">no records found</h3>
    </div>
    {% endfor %}
</div>
{% endblock %}